/*通用css样式*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    /*user-select: none;*/
}

body {
    background: url("../image/background.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(55, 175, 255, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(106, 198, 255, 0.8);
    transition: all 0.5s;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(48, 127, 226, 0.8);
}

/*设置鼠标样式*/
* {
    cursor: url(../image/mouse/arrow.cur), default;
}

/**{*/
/*    cursor: url(../image/mouse/beam.cur), text;*/
/*}*/

/*a {*/
/*    cursor: url(../image/mouse/link.cur), pointer;*/
/*}*/

@charset "utf-8";
/* CSS Document */

.btn_totop {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: 150px;
    height: 174px;
    cursor: pointer;
    /*border: 1px solid #F4A6D7;*/
    text-align: center;
    z-index: 999;
    background-image: url("http://s2.hdslb.com/bfs/static/blive/blfe-dynamic-web/static/img/rocket_top.bcc748c3.png");
    background-repeat: no-repeat;
}

.btn_totop:hover{
    background-image: url("http://s2.hdslb.com/bfs/static/blive/blfe-dynamic-web/static/img/rocket_frame.f7563b84.png");
    animation: btn_totop_rocket-data steps(1, start) 0.5s infinite;
}

@-webkit-keyframes btn_totop_rocket-data {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: -150px 0;
    }
    50% {
        background-position: -300px 0;
    }
    75% {
        background-position: -450px 0;
    }
    100% {
        background-position: -600px 0;
    }
}
