/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
body{
	
	background-size: cover;
	background-attachment:fixed;
    display: flex;
    flex-direction: column;
	background-image: url(../image/background.jpg);
}

.top{
	width: 100%;
	height: 200px;
	position: relative;
}
.top iframe{
	width: 100%;
	height:50px;
	position: relative;
	z-index: 1000;
}

.img{
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	overflow: hidden;
}
.img img{
	width: 100%;
	height: auto;
	min-width: 100%;
	min-height: 100%
}

.index{
	width:auto;
	height: 1320px;
	margin-left: 10%;
	margin-right: 10%;
	
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 10px;
}
.index .left{
	position: relative;
    padding-top: 20px;
    width:70%;
	display:inline-block;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
	
	
}
.banner{
	height: 44px;
    font-size: 20px;
    line-height: 1;
    position: relative;
	
}
.index .left .list1{
	width: 120px;
	display: inline-block;
    padding-top: 20px;
    cursor: pointer;
	margin-left: 50px;
}

.index .left .video{
	position: relative;
    width: 100%;
    overflow: hidden;
}

.index .left .video .list2{
	width: 160px;
    height: 304px;
	margin-left: 30px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
	margin-top: 30px;
}
.V1{
	position: relative;
    display: block;
    width: 100%;
    height: 214px;
    border-radius: 4px;
    overflow: hidden;
}


.V2{
	color:#E63639;
    max-height: 44px;
    font-size: 14px;
    margin-top: 10px;
    line-height: 22px;
	display: block;
}
.V3{
	height: 18px;
    line-height: 18px;
    overflow: hidden;
    color: #99a2aa;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
	display: block;
}

.left ul li a img{
	height: 200px;
	width: 150px;	
	border-radius: 15px;
}



.index .left .page{
    height: 40px;
    white-space: nowrap;
	position: absolute;
	margin-left: 30px;
	margin-top: 50px;
}
.page .first{
	float: left;
    min-width: 17px;
    font-size: 14px;
    height: 38px;
    border-radius: 4px;
    background-color: #fff;
    color: #222;
    text-align: center;
    line-height: 38px;
    padding: 0 8px;
    border: 1px solid #ddd;
    webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin-right: 4px;
}
.page .next{
	float: left;
    min-width: 17px;
    font-size: 14px;
    height: 38px;
    border-radius: 4px;
    background-color: #fff;
    color: #222;
    text-align: center;
    line-height: 38px;
    padding: 0 8px;
    border: 1px solid #ddd;
    webkit-transition: all .2s ease;
    transition: all .2s ease;
    margin-right: 4px;
}
.page strong {
    float: left;
    margin-right: 4px;
    width: 35px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
.page .Next{
	float: left;
    min-width: 20px;
    font-size: 14px;
    height: 38px;
    border-radius: 4px;
    background-color: #fff;
    color: #222;
    text-align: center;
    line-height: 38px;
    padding: 0 8px;
    border: 1px solid #ddd;
    webkit-transition: all .2s ease;
    transition: all .2s ease;
	margin-right: 5px;
}
a {
    text-decoration: none;
    outline-width: 0;
    outline-style: none;
    outline-color: invert;
}
.page .first, .page .next:hover {
    background-color: #00a1d6;
	color: #B63E40;
    border-color: #00a1d6;
}


.index .right{
	background: rgba(255, 255, 255, 0.8);
    width: 25%;
    padding-top: 20px;
	display: inline-block;
	margin-left: 1%;
	float: right;
	border-radius: 10px;
	box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
}
.index .right .filter_title{  
	height: 44px;
    line-height: 1;
    font-size: 18px;
    color: #222;
	margin-top: 30px;
	margin-left: 30px;;
}


.index .right .filter_block{
	position: relative;
    overflow: hidden;
	padding-top: 8px;
	margin-top: 15px;
	margin-left: 30px;
	
}
.filter_type{
	display: block;
    float: left;
    width: 52px;
    height: 30px;
    line-height: 1;
    font-size: 18px;
    color: #2BC118;
}
.filter_content{
	width: 208px;
    overflow: hidden;
    transition: all .3s linear;
    min-height: 30px;
}

.all{
	color: #00a1d6;
	display: inline-block;
    vertical-align: top;
    line-height: 1;
    text-align: left;
    width: 50px;
    height: 30px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2px;
    cursor: pointer;
    outline: 0;
    
}

.one {
	display: inline-block;
    vertical-align: top;
    line-height: 1;
    text-align: left;
    width: 50px;
    height: 30px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 4px;
    cursor: pointer;
    outline: 0;
}

.bottom{
	width: 100%;
	
}
a{
	color:#0D0505;
}



