@charset "utf-8";
/* CSS Document */
* {margin: 0;padding: 0;border: 0;list-style: none;}

body{
	background-image: url(../image/background.jpg);
	background-size: cover;
	background-attachment:fixed;
    display: flex;
    flex-direction: column;
}
a{
	text-decoration: none;
}
.top{
	width: 100%;
	height: 200px;
	position: relative;
}
.top iframe{
	width: 100%;
	height:50px;
	position: relative;
	z-index: 1000;
}

.img1{
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0;
	overflow: hidden;
}
.img1 img{
	width: 100%;
	height: auto;
	min-width: 100%;
	min-height: 100%
}
/*fenlei*/
.index{
	width: 90%;
	height: 420px;
	margin: 10px auto 0 auto ;
	position: relative;
	overflow: hidden;
}
.index .fenlei{
	width: 89%;
	height: 60px;
	box-sizing: border-box; 
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);	
	margin: 10px auto;
	line-height: 60px;
}
.index .fenlei ul{
	height: 46px;
	width: auto;
	float: left;
	margin-left:70px;
}
.index .fenlei ul li{
	height: 46px;
	float: left;
	margin-right: 40px;
}

.index .fenlei ul li a{
	font-size: 18px;
	transition: all 0.5 ease;
	cursor: pointer;
	color:#000000;
}
.index .fenlei ul li:nth-child(1) a{
	color:#479BB8;
}
.index .fenlei ul li:hover a{
	color: #479BB8;	
}
.index .fenlei .logo1{
	float: right;
	width: 80px;
	height: 20px;
}
/*轮播效果*/
.wrap{
	width: 85%;
	max-width: 1160px;
	height:330px;
	margin:20px auto 20px auto;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	box-sizing: border-box;
	box-shadow:5px 5px 20px 5px rgba(0,0,0,0.3);
}
.wrap a{
	cursor: pointer;
}
.wrap ul {
	position: absolute;
    top: 0;
    width:500%;
    left: 0;
}
.wrap ul li{
	width: 20%;
	max-width: 1160px;
	height: 330px;
	float: left;
	overflow: hidden;
}
.wrap ul li img{
	width:100%;
	height: 100%;
	overflow: hidden;
	border-radius: 15px;
	object-fit: cover;
}

/* 导航栏 */
.left,.right {
    position: absolute;
    width: 20px;
    height: 50px;
    line-height: 50px;
    top: 50%;
    margin-top: -15px;
    background: rgba(0, 0, 0, .2);
    text-decoration: none;
    color: white;
    display: none;
}

.left {
    left: 0;
}

.right {
    right: 0;
    text-align: right;
}


/* 圆点 */

#list {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#list li {
    float: left;
    background: #ccc;
    color: #fff;
    font-weight: bold;
    height: 20px;
    width: 20px;
    font-size: 15px;
    margin-right: 1px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}

#list .on {
    background: #088bcf;
    color: red;
}


/*new*/
.new{
	width: 80%;
	height: 360px;
	margin: 30px auto 0 auto;
	position: relative;
}
.new a{
	text-decoration: none;
	color: #000000;
}
.new a:hover{
	color:#0BC5F7;
}
.new a:visited{	
}
/* left of the new*/
.new .nl{
	width: 77%;
	height: 360px;
	float: left;
	box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);	
}
.new .nl .title{
	height: 24;
	width: 100%;
	margin-top: 7px;
}
.new .nl .title span:nth-child(1){
	font-size: 24px;
	float: left;
	margin-left: 13px;
	
}
.new .nl .title span:nth-child(2){
	width: 106px;
	height: 24px;
	float:right;
	margin-top:5px; 
	margin-right: 10px;
	border:1px solid #F4A6D7;
	background: #FFFFFF;
	border-radius: 15px;
	color: #F4A6D7;
	transition: all 0.5s ease;
	text-align: center;
	line-height: 24px;
	font-weight: bold;
}
.new .nl .title span:nth-child(2) a{
	color: #F4A6D7;
}
.new .nl .title span:nth-child(2):hover{
	box-shadow:0 0 0 20px #F4A6D7 inset; 
	color:#FFF
}
.new .nl .title span:nth-child(2):hover a{
	color: #FFF;
}
.new .nl .content{
	width:100%;
	height: 316px;
	margin-top: 20px;
	overflow: hidden;
}
.new .nl .content table{
	width:95%;
	height: 316px;
	margin-left:20px;
}
.new .nl .content .fan{
	height: 72px;
	width: 180px auto;
	margin: 0;
	overflow: hidden;
}
.new .nl .content .fan-left{
	width:72px;
	height: 72px;
	margin-right: 12px;
	float: left;
}
.new .nl .content .fan-left img{
	width: 72px;
	height: 72px;
	border-radius:5px;
	box-sizing: border-box;
	box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.3);
	margin-left: 1px;
	object-fit: cover;
}
.new .nl .content .fan-right{
	height:72px;
	width: 96px;
	float: left;
}
.new .nl .content .fan-right div{
	width: 96px;
	height: 52px;
	overflow: hidden;
}
.new .nl .content .fan-right p:nth-child(1){
	width: 96px;
	overflow: hidden;
	font-size:15px;		
	word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;    /* 指定行数*/
    -webkit-box-orient: vertical;
}
.new .nl .content .fan-right p:nth-child(2){
	width: 96px;
	height: 18px;
	margin-top: 2px;
	font-size: 5px;
}
/*.new .nl .content .fan-right p:nth-child(2) a{
	width: 40px;
	height: 17px; 
	margin-left: 5px;
	border:1px solid #DC7577;
	background: #FFFFFF;
	border-radius: 5px;
	color: #DC7577;
	transition: all 0.3s ease;	
}*/
/*.new .nl .content .fan-right p:nth-child(2) a:hover{
	box-shadow:0 0 0 20px #DC7577 inset; 
	color:#FFF
}*/
/* right of the new*/
.new .nr{
	width: 20%;
	margin-left:3%; 
	height: 360px;
	float: left;
	box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.new .nr .nr-t{
	height: 34px;
	width: 100%;
	overflow: hidden;
}
.new .nr .nr-t span:nth-child(1){
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	text-overflow: ellipsis;
	font-size: 24px;
}
.new .nr .nr-t span:nth-child(2){
	float:right;
	margin-right: 10px;
	margin-top: 7px;	
	height:24px;
	width:60px;
	line-height: 24px;
	display: inline-block;
	text-align: center;	
	border:1px solid #F4A6D7;
	background: #FFFFFF;
	border-radius: 15px;	
	transition: all 0.5s ease;
	font-weight: bold;
	
}
.new .nr .nr-t span:nth-child(2):hover{
	box-shadow:0 0 0 20px #F4A6D7 inset; 
}
.new .nr .nr-t span:nth-child(2) a{
	color: #F4A6D7;

}
.new .nr .nr-t span:nth-child(2):hover a{
	color:#FFF
}
.new .nr .myfan{
	width: 100%;
	height: 306px;
	margin-top: 6px;
	margin-left: 10px;
	overflow: hidden;
}
.new .nr .myfan table{
	width:100%;
	height: 316px;
}
.new .nr .myfan .myfan-left{
	width:96px;
	height:60px;
	margin-right: 8px;
	float: left;
}
.new .nr .myfan .myfan-left img{
	width: 96px;
	height: 60px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.3);
	margin-left: 1px;
	object-fit: cover;
}
.new .nr .myfan .myfan-right{
	height:60px;
	width: 100px;
	float: left;
}
.new .nr .myfan .myfan-right div{
	height: 40px;
	width: 100px;
	overflow: hidden;
}
.new .nr .myfan .myfan-right p:nth-child(1){
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;    /* 指定行数*/
    -webkit-box-orient: vertical;
    overflow: hidden; 
}
/*.new .nr .myfan .myfan-right p:nth-child(1) span{
	height: 40px;
	width: 100px;
}*/
.new .nr .myfan .myfan-right p:nth-child(2){
	height: 10px;
	width: 100px;
	font-size: 5px;
	line-height: 10px;
	margin-top: 10px;
}

/*label*/
.label{
	width: 80%;
	height: 100px;
	margin: 20px auto 0 auto;
	box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}


.label1{
	width: 20%;
	height: 80px;
	margin-right: 18%;
	margin-top: 5px;
	float: left;
	overflow: hidden;
}
.label1:nth-child(1){
	margin-left: 20px;		
}
.label1:nth-child(3){
	margin-right: 0;
}
.label2{
	width: 100%;
	overflow: hidden;
}
.label2 span{
	font-size: 22px;
	margin-right: 12px;
	
}
.label2 a{
	text-decoration: none;
	color: #000000;
	transition: all 0.5 ease;
}
.label2  a:visited{
	color: #000000;
}
.label2 a:hover{
	color:#0BC5F7;
}
.label3{
	width: 100%;
	word-wrap: break-word;
	margin-top: 10px;
	overflow: hidden;
}
.label3 a{
	float: left;
	margin-right: 15px;
	text-decoration: none;
	color: #000000;
}
.label3 a:nth-last-child(1){
	margin-right: 0;
}
.label3  a:visited{
	color: #000000;
}
.label3 a:hover{
	color:#0BC5F7;
}

/*bfzg*/

.bfzg{
	width: 80%;
	height: 530px;
	margin: 40px auto 0px auto;
	box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.bfzg_t{
	width: 96%;
	height: 32px;
	margin: 5px auto 0 auto;
}
.bfzg_t span{
	font-size:24px;
	float: left;
}
.bfzg_t a{
	width: 80px;
	margin-top:2px; 
	height: 35px;
	font-size:16px;
	text-decoration: none;
	line-height: 35px;
	text-align: center;
	border: 1px solid #F4A6D7;
	background:#FFFFFF;
	color: #F4A6D7;
	float: right;
	border-radius:20px;	
	font-weight: bold;
	transition: all 0.3s ease-in;
}
.bfzg_t a:hover{
	box-shadow:0 0 0 20px #F4A6D7 inset; 
	color:#FFF;
}
.bfzg_v{
	height: 450px;
	width:95%;
	margin: 18px auto 0 auto;
}
.bfzg_v li{
	height: 230px;
	width: 15%;
	margin-right:2%;
	float: left;
	overflow: hidden;
}
.bfzg_v li:nth-child(6),.bfzg_v li:nth-child(12){
	margin-right: 0px;
}
.bfzg_v li:nth-child(1),.bfzg_v li:nth-child(2),.bfzg_v li:nth-child(3),.bfzg_v li:nth-child(4),.bfzg_v li:nth-child(5),.bfzg_v li:nth-child(6){
	margin-bottom: 10px;
}
.bfzg_v li div{
	height:200px;
	width: 150px;
	margin: 0px auto 10px auto;
}
.bfzg_v li div img{
	width: 100%;
	height: 200px;
	max-width: 150px;	
	border-radius: 15px;
}
.bfzg_v li p{
	text-align: center;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.bfzg_v li p a{
	text-decoration: none;
	color: #000000;
}
.bfzg_v li p a:hover{
	color: #37afff;
}


/*pfzg*/

.pfzg{
	width: 80%;
	height: 530px;
	margin: 40px auto 0px auto;
	box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.pfzg_t{
	width: 96%;
	height: 32px;
	margin: 5px auto 0 auto;
}
.pfzg_t span{
	font-size:24px;
	float: left;
}
.pfzg_t a{
	width: 80px;
	margin-top:2px; 
	height: 35px;
	font-size:16px;
	text-decoration: none;
	line-height: 35px;
	text-align: center;
	border: 1px solid #F4A6D7;
	background:#FFFFFF;
	color: #F4A6D7;
	float: right;
	border-radius:20px;	
	font-weight: bold;
	transition: all 0.3s ease-in;
}
.pfzg_t a:hover{
	box-shadow:0 0 0 20px #F4A6D7 inset; 
	color:#FFF;
}
.pfzg_v{
	height: 450px;
	width:95%;
	margin: 18px auto 0 auto;
}
.pfzg_v li{
	height: 230px;
	width: 15%;
	margin-right:2%;
	float: left;
	overflow: hidden;
}
.pfzg_v li:nth-child(6),.pfzg_v li:nth-child(12){
	margin-right: 0px;
}
.pfzg_v li:nth-child(1),.pfzg_v li:nth-child(2),.pfzg_v li:nth-child(3),.pfzg_v li:nth-child(4),.pfzg_v li:nth-child(5),.pfzg_v li:nth-child(6){
	margin-bottom: 10px;
}
.pfzg_v li div{

	height:200px;
	width: 150px;
	margin: 0px auto 10px auto;
}
.pfzg_v li div img{
	width: 100%;
	height: 200px;
	max-width: 150px;	
	border-radius: 15px;
}
.pfzg_v li p{
	text-align: center;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.pfzg_v li p a{
	text-decoration: none;
	color: #000000;
}
.pfzg_v li p a:hover{
	color: #37afff;
}
/*tj*/
.tj{
	width: 80%;
	height: 530px;
	margin: 40px auto 0px auto;
	box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	margin-bottom: 80px;
}
.tj_t{
	width: 96%;
	height: 32px;
	margin: 5px auto 0 auto;
}
.tj_t span{
	font-size:24px;
	float: left;
}
.tj_t a{
	width: 80px;
	margin-top:2px; 
	height: 35px;
	font-size:16px;
	text-decoration: none;
	line-height: 35px;
	text-align: center;
	border: 1px solid #F4A6D7;
	background:#FFFFFF;
	color: #F4A6D7;
	float: right;
	border-radius:20px;	
	font-weight: bold;
	transition: all 0.3s ease-in;
}
.tj_t a:hover{
	box-shadow:0 0 0 20px #F4A6D7 inset; 
	color:#FFF;
}
.tj_v{
	height: 450px;
	width:95%;
	margin: 18px auto 0 auto;
}
.tj_v li{
	height: 230px;
	width: 15%;
	margin-right:2%;
	float: left;
	overflow: hidden;
	text-align: center;
}
.tj_v li:nth-child(6),.tj_v li:nth-child(12){
	margin-right: 0px;
}
.tj_v li:nth-child(1),.tj_v li:nth-child(2),.tj_v li:nth-child(3),.tj_v li:nth-child(4),.tj_v li:nth-child(5),.tj_v li:nth-child(6){
	margin-bottom: 10px;
}
.tj_v li div{
	height:200px;
	width: 150px;
	margin: 0px auto 10px auto;
/*	margin-bottom: 10px;*/
}
.tj_v li div img{
	width: 100%;
	height: 200px;
	max-width: 150px;	
	border-radius: 15px;
}
.tj_v li p{
	text-align: center;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.tj_v li p a{
	text-decoration: none;
	color: #000000;
}
.tj_v li p a:hover{
	color: #37afff;
}
.bottom{
	height: 165px;
	width: 100%;
}
img:hover{
            filter: brightness(80%);
            transition: all 0.3s ease;
 }
img{
	transition: all 0.3s ease;
}
.img1 img:hover{
	filter:none;
}
a:hover{
	transition:all 0.3s ease;
}