@charset "utf-8";
/* CSS Document */

 .btn_totop{
		position: fixed;
		bottom: 165px;
	 	right: 20px;
	 	width: 80px;
	 	height: 40px;
	 	border: 1px solid #F4A6D7;
	 	text-align:center;
	 	line-height: 40px;
	 	background: #FFFFFF;
		border-radius: 30px;
		color: #F4A6D7;
		transition: all 0.5s ease;
		font-weight: bold;
	}
 .btn_totop:hover{
	box-shadow:0 0 0 20px #F4A6D7 inset; 
	color:#FFF;
}